# Files and paths mentioned in this file are ignored by git
#
# You can use this to hide generated and temporary files.
#
# Further info:
#     https://git-scm.com/book/en/v2/Git-Basics-Recording-Changes-to-the-Repository#Ignoring-Files
*~
*.swp
.cache

# python-related ignores
*.pyc
__pycache__
*.egg-info
build/
dist/

# venv environment 
venv/

# local test caches
.mypy_cache
.ruff_cache

# vscode settings
.vscode

# stored actions
.npy